[submodule "wrk2/deps/luajit"]
	path = wrk2/deps/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "loadbalancer"]
	path = loadbalancer
	url = https://github.com/bee0511/prequal-server.git
